@model TodoViewModel

<div class="row justify-content-center">
    <div class="col-xl-6 col-lg-8 col-md-8 col-sm-10">
        <table class="table">
            <thead>
                <tr class="table-primary">
                    <th scope="col">Id</th>
                    <th scope="col">Adı</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var t in Model.TodoList)
                {
                    <tr>
                        <th class="todos-column" scope="row">@t.Id</th>
                        @if (@t.Complete == 1 )
                        {
                            <td class="todos-column"><strike>@t.Adı</strike></td>
                            
                            
                        }
                        else{
                            <td class="todos-column">@t.Adı</td>
                        }
                        <td class="buttons-column">
                        <input type="submit" class="btn btn-danger" value="Delete" onClick="deleteTodo(@t.Id)" />
                        <input type="submit" class="btn btn-primary" value="Complete" onClick="CompleteButton(@t.Id)" />
                        
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>